body{
color:white;
background-color: #011627;
text-align: center;
border:50px solid 	#008B8B;
/* border-top: 0px; */
margin-top:0px;
}
h1{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
h2{
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
p{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Pacifico', cursive;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
form{
font-size: 1.5em;
margin-bottom: 10px;

}
#sub{
  background-color: #FF9F1C;
  height: 80px;
  width: 150px;
  margin:4px;
  margin-top: 12px;
  border-radius: 25px;
}
